<a href="https://colab.research.google.com/github/theAngelJ/2061-pandas-conociendo-la-biblioteca/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [5]:
dataframes = [tienda, tienda2, tienda3, tienda4]
todo_junto = pd.concat(dataframes, ignore_index=True)

total_facturacion = todo_junto['Precio'].sum()
print(f"La facturación total de todas las tiendas es: {total_facturacion:,.2f}")

La facturación total de todas las tiendas es: 4,403,619,200.00

# 2. Ventas por categoría

In [6]:
ventas_por_categoria = todo_junto.groupby('Categoría del Producto')['Precio'].sum().reset_index()
ventas_por_categoria = ventas_por_categoria.sort_values(by='Precio', ascending=False)
print("Ventas por Categoría de Producto:")
print(ventas_por_categoria)

Ventas por Categoría de Producto:
    Categoría del Producto        Precio
3             Electrónicos  1.660576e+09
2        Electrodomésticos  1.324751e+09
7                  Muebles  7.576610e+08
4   Instrumentos musicales  3.487726e+08
1     Deportes y diversión  1.429777e+08
5                 Juguetes  7.360440e+07
0  Artículos para el hogar  5.757980e+07
6                   Libros  3.769610e+07

# 3. Calificación promedio de la tienda

In [7]:
calificacion_promedio = todo_junto['Calificación'].mean()
print(f"La calificación promedio de la tienda es: {calificacion_promedio:.2f}")

La calificación promedio de la tienda es: 4.01

# 4. Productos más y menos vendidos

In [9]:
productos_vendidos = todo_junto['Producto'].value_counts()

print("Productos más vendidos (Top 5):")
print(productos_vendidos.head(5))

print("\nProductos menos vendidos (Bottom 5):")
print(productos_vendidos.tail(5))

Productos más vendidos (Top 5):
Producto
Mesa de noche                210
Carrito de control remoto    206
Microondas                   206
Batería                      203
Cama king                    201
Name: count, dtype: int64

Productos menos vendidos (Bottom 5):
Producto
Ciencia de datos con Python    166
Guitarra eléctrica             165
Mochila                        163
Auriculares con micrófono      158
Celular ABXY                   157
Name: count, dtype: int64

# 5. Envío promedio por tienda

In [11]:
print("Envío promedio por tienda:")
print(f"Tienda 1: {tienda['Costo de envío'].mean():,.2f}")
print(f"Tienda 2: {tienda2['Costo de envío'].mean():,.2f}")
print(f"Tienda 3: {tienda3['Costo de envío'].mean():,.2f}")
print(f"Tienda 4: {tienda4['Costo de envío'].mean():,.2f}")

Envío promedio por tienda:
Tienda 1: 26,018.61
Tienda 2: 25,216.24
Tienda 3: 24,805.68
Tienda 4: 23,459.46